---
apiVersion: v1
kind: Secret
metadata:
  name: avp-delinea-backend-secret
  namespace: argocd-avp-gitops
stringData:
  # https://github.com/argoproj-labs/argocd-vault-plugin/blob/v1.17.0/pkg/config/config_test.go#L213
  # https://argocd-vault-plugin.readthedocs.io/en/stable/backends/#delinea-secret-server
  # https://github.com/argoproj-labs/argocd-vault-plugin/blob/v1.17.0/pkg/types/constants.go#L30
  AVP_TYPE: delineasecretserver
  AVP_DELINEA_URL: https://XXXX.delinea.app
  AVP_AUTH_TYPE: userpass
  AVP_DELINEA_USER: YYYYYY
  AVP_DELINEA_PASSWORD: XXXX
type: Opaque